body, html {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    scroll-behavior: smooth;
}

.title {
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 200px;
    font-size: 400%;
}

.main {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 200px;
}

.episodi {
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: black;
}
.episodio {
    width: 500px;
    height: 50px;
    border-radius: 5px;
    box-shadow: -2px 2px 5px #999;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
    font-size: 200%;
}

.player {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    margin-bottom: 200px;
}

.player_view {
    height: 95%;
    width: 95%;
    border-radius: 5px;
    box-shadow: -2px 2px 5px #999;
}
.players {
    display: flex;
    flex-direction: row;
    margin-bottom: 200px;
}
.a{
    margin-left: 100px;
    margin-top: 300px;
}
.b{
    margin-left: 200px;
    width: 40%;
}