body,
html {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: #F9A826;
}

.title {
    margin-left: 85px;
    margin-top: 100px;
    margin-bottom: 0;
    font-size: 400%;
}

.subtitle {
    margin-left: 85px;
    margin-bottom: 200px;
}

.main {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 200px;
}

.episodi {
    display: flex;
    flex-direction: column;
}

h2 {
    color: #F9A826
}

a {
    text-decoration: none;
    color: black;
}

.episodio {
    width: 40vh;
    height: 50px;
    border-radius: 5px;
    box-shadow: -2px 2px 5px #999;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
    font-size: 180%;
}

.episodio:hover {
    cursor: pointer;
}

.player_view {
    margin-left: 10px;
    margin-right: 10px;
    visibility: hidden;
    border-radius: 5px;
    box-shadow: -2px 2px 5px #999;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 50px;
    min-height: 500px;
}

.players {
    display: flex;
    flex-direction: row;
}

.b {
    max-width: 50%;
}

@media only screen and (max-width: 1230px) {
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 200px;
    }
    .player_view {
        height: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 5px;
        box-shadow: -2px 2px 5px #999;
    }
}

@media only screen and (max-width: 712px) {
    .title {
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 300%;
    }
    .subtitle {
        margin-left: 10px;
        margin-bottom: 100px;
    }
}